{{- $pkg := "thanos" }}

{{- /* Create secret */ -}}
{{- if (get .Values.addons $pkg).enabled }}
  {{- $package := deepCopy (get .Values.addons $pkg) -}}
  {{- if $package.values -}}
    {{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" $package.values) | fromYaml -}}
    {{- $package = set $package "values" $cleanedValues -}}
  {{- end -}}
  {{- include "values-secret" (dict 
    "root" $ 
    "package" $package 
    "name" "thanos" 
    "defaults" ((merge (include "bigbang.defaults.thanos" . | fromYaml) (include "bigbang.thanos.bb-common-migrations" . | fromYaml)) | toYaml)
  )}}
{{- end }}


{{- /* Default values for Thanos */ -}}
{{- define "bigbang.defaults.thanos" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardened := or
  (dig "istio" "hardened" "enabled" false .Values.addons.thanos.values)
  (dig "hardened" "enabled" false .Values.istiod.values)
}}

{{- $s3Bucket := .Values.addons.thanos.objectStorage.bucket }}
{{- $s3Region := .Values.addons.thanos.objectStorage.region }}
{{- $s3Endpoint := .Values.addons.thanos.objectStorage.endpoint }}
{{- if and (empty $s3Endpoint) (not (empty $s3Bucket)) (not (empty $s3Region)) }}
  {{- $s3Endpoint = printf "%s.s3.%s.amazonaws.com" $s3Bucket $s3Region }}
{{- end }}

{{- $minioEnabled := false }}
{{- with .Values.addons.thanos.objectStorage }}
  {{- if and (eq $.Values.addons.thanos.strategy "scalable") (not (and .endpoint .region)) }}
    {{- $minioEnabled = true  }}
  {{- end }}
{{- end }}

imagePullSecrets:
- name: private-registry
imagePullPolicy: {{ .Values.imagePullPolicy }}

externalURL: https://thanos.{{ .Values.domain }}

domain: {{ .Values.domain }}

routes:
  outbound:
    s3:
      enabled: {{ and $istioHardened (not (empty $s3Endpoint)) }}
      hosts:
      - {{ $s3Endpoint }}
  inbound:
    query-frontend:
      enabled: {{ $istioEnabled }}
      gateways:
      - istio-gateway/public-ingressgateway
      hosts:
      - thanos.{{ .Values.domain }}
    minio:
      enabled: {{ and $istioEnabled $minioEnabled }} 
      gateways:
      - istio-gateway/public-ingressgateway
      hosts:
      - thanos-minio.{{ .Values.domain }}

istio:
  enabled: {{ $istioEnabled }}
  sidecar:
    enabled: {{ $istioHardened }}
  authorizationPolicies:
    enabled: {{ $istioHardened }}
    generateFromNetpol: true

minio:
  enabled: {{ $minioEnabled }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  egress:
    definitions: {{ .Values.networkPolicies.egress.definitions | toYaml | nindent 6 }}
    from:
      thanos-query:
        podSelector:
          matchLabels:
            app.kubernetes.io/name: thanos
            app.kubernetes.io/component: query
        to:
          k8s:
            monitoring/prometheus:10901: {{ .Values.monitoring.enabled }}
            authservice/authservice:10003: {{ .Values.addons.authservice.enabled }}

  ingress:
    definitions: {{ .Values.networkPolicies.ingress.definitions | toYaml | nindent 6 }}
    to:
      minio:9000:
        from:
          k8s:
            minio-operator@minio-operator/minio-operator: {{ or $minioEnabled (dig "minio" "enabled" false .Values.addons.thanos.values) }}
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
      thanos-query:10902:
        podSelector:
          matchLabels:
            app.kubernetes.io/name: thanos
            app.kubernetes.io/component: query
        from:
          k8s:
            grafana@monitoring/prometheus: {{ .Values.monitoring.enabled }}
            haproxy@authservice/haproxy: {{ and .Values.addons.thanos.sso.enabled (not .Values.addons.authservice.enabled) }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

storegateway:
  enabled: false

query:
  dnsDiscovery:
    # to allow lookups to work with and without Istio enabled, we disable k8s dns service
    # discovery and manually set stores: below.
    #
    # With Istio, the combination of headless service + TCP port will create an entry
    # for each pod IP:PORT and that makes communication via IP:PORT viable
    enabled: false
  {{- if or .Values.monitoring.enabled (dig "values" "storegateway" "enabled" false .Values.addons.thanos) }}
  stores:
  {{- end }}
    {{- if .Values.monitoring.enabled }}
    - dns+monitoring-monitoring-kube-thanos-discovery.monitoring.svc.cluster.local:10901
    {{- end }}
    {{- if (dig "values" "storegateway" "enabled" false .Values.addons.thanos) }}
    - dns+thanos-storegateway.thanos.svc.cluster.local:10901
    {{- end }}
  {{- if or .Values.addons.thanos.sso.enabled .Values.kiali.enabled }}
  podLabels:
    {{- if .Values.addons.thanos.sso.enabled }}
    {{- $thanosAuthserviceKey := (dig "selector" "key" "protect" .Values.addons.authservice.values) }}
    {{- $thanosAuthserviceValue := (dig "selector" "value" "keycloak" .Values.addons.authservice.values) }}
    {{ $thanosAuthserviceKey }}: {{ $thanosAuthserviceValue }}
    {{- end }}
  {{- end }}
  {{- if .Values.addons.thanos.objectStorage.endpoint }}
  extraFlags:
    - "--endpoint=dns+monitoring-monitoring-kube-thanos-discovery.monitoring.svc.cluster.local:{{- dig "values" "query" "containerPorts" "grpc" 10901 .Values.addons.thanos }}"
  {{- end }}
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}

queryFrontend:
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}

bucketweb:
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}

ruler:
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}

receive:
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}

{{- if or (dig "compactor" "enabled" false .Values.addons.thanos.values) .Values.addons.thanos.objectStorage.endpoint }}
compactor:
  enabled: true
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}
{{- end }}

{{- if .Values.addons.thanos.objectStorage.endpoint }}
objstoreConfig: |-
  type: s3
  config:
    bucket: {{ .Values.addons.thanos.objectStorage.bucket }}
    endpoint: {{ .Values.addons.thanos.objectStorage.endpoint }}
    access_key: {{ .Values.addons.thanos.objectStorage.accessKey }}
    secret_key: {{ .Values.addons.thanos.objectStorage.accessSecret }}
    insecure: {{ .Values.addons.thanos.objectStorage.insecure }}

storegateway:
  enabled: true
  useEndpointGroup: true
  endpoint: {{ .Values.addons.thanos.objectStorage.endpoint }}
  networkPolicy:
    enabled: {{ .Values.networkPolicies.enabled }}
{{- end }}
{{- end }}
