apiVersion: v2
name: kiali
description: Kiali is an open source project for service mesh observability, refer to https://www.kiali.io for details.
version: 1.74.0-bb.4
appVersion: 1.74.0
home: https://github.com/kiali/kiali-operator
maintainers:
- name: Kiali
  email: kiali-users@googlegroups.com
  url: https://kiali.io
keywords:
- istio
- kiali
- operator
sources:
- https://github.com/kiali/kiali
- https://github.com/kiali/kiali-operator
- https://github.com/kiali/helm-charts
icon: https://raw.githubusercontent.com/kiali/kiali.io/current/assets/icons/logo.svg
dependencies:
  - name: gluon
    version: "0.4.1"
    repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/applicationVersions: |
    - Kiali: 1.74.0
  helm.sh/images: |
    - name: kiali
      image: registry1.dso.mil/ironbank/opensource/kiali/kiali:v1.75.1
    - name: kiali-operator
      image: registry1.dso.mil/ironbank/opensource/kiali/kiali-operator:v1.74.0
