# Repo and image tag 
image: 
  imagePullPolicy: IfNotPresent
  name: "registry1.dsop.io/ironbank/opensource/mattermost/mattermost-operator:v1.5.0"

#Mattermost operator desired replicas
replicas: 
  count: 1

# Watched namespace, blank for all namspaces
watchedNamespace: 
