{{- if .Values.istio.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: istio-operator
  namespace: {{ .Release.Namespace }}
spec:
  targetNamespace: istio-operator
  chart:
    spec:
      chart: {{ .Values.istiooperator.git.path }}
      interval: 5m
      sourceRef:
        kind: GitRepository
        name: istio-operator
        namespace: {{ .Release.Namespace }}

  {{- with .Values.flux }}
  interval: {{ .interval }}
  test:
    enable: false
  install:
    remediation:
      retries: {{ .install.retries }}
  upgrade:
    remediation:
      retries: {{ .upgrade.retries }}
      remediateLastFailure: true
    cleanupOnFail: true
  rollback:
    timeout: {{ .rollback.timeout }}
    cleanupOnFail: {{ .rollback.cleanupOnFail }}
  {{- end }}

  valuesFrom:
    - name: values
      kind: Secret
      valuesKey: "istiooperator.yaml"

  values:
    hub: registry1.dsop.io/ironbank/opensource/istio
    tag: 1.7.3
    createNamespace: false

    imagePullSecrets:
      - name: private-registry

  {{- if .Values.gatekeeper.enabled }}
  dependsOn:
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
  {{- end }}

{{- end }}