{{- $fluxSettingsMinioOperator := merge .Values.addons.minioOperator.flux .Values.flux -}}
{{- if or .Values.addons.minioOperator.enabled .Values.addons.minio.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio-operator
  namespace: {{ .Release.Namespace }}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/minio-operator/values.yaml") . | sha256sum }}
spec:
  targetNamespace: minio-operator
  driftDetection:
    mode: warn
  chart:
    spec:
      {{- if eq .Values.addons.minioOperator.sourceType "git" }}
      chart: {{ .Values.addons.minioOperator.git.path }}
      sourceRef:
        kind: GitRepository
        name: minio-operator
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.addons.minioOperator.helmRepo.chartName }}
      version: {{ .Values.addons.minioOperator.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.addons.minioOperator.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- $repoType := include "getRepoType" (dict "repoName" .Values.addons.minioOperator.helmRepo.repoName "allRepos" $.Values.helmRepositories) -}}
      {{- if (and .Values.addons.minioOperator.helmRepo.cosignVerify (eq $repoType "oci")) }} # Needs to be an OCI repo
      verify:
        provider: cosign
        secretRef:
          name: {{ printf "%s-cosign-pub" .Values.addons.minioOperator.helmRepo.repoName }}
      {{- end }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettingsMinioOperator | nindent 2 }}

  {{- if .Values.addons.minioOperator.postRenderers }}
  postRenderers:
  {{ toYaml .Values.addons.minioOperator.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-minio-operator-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-minio-operator-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-minio-operator-values
      kind: Secret
      valuesKey: "overlays"

  values:
    podAnnotations:
      sidecar.istio.io/inject: "true"
      traffic.sidecar.istio.io/includeInboundPorts: "*"
      traffic.sidecar.istio.io/excludeInboundPorts: "9443"
    imagePullSecrets:
      - name: private-registry

  {{- if or .Values.gatekeeper.enabled .Values.istio.enabled .Values.kyvernoPolicies.enabled }}
  dependsOn:
    {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.istio.enabled }}
    - name: istio
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.istioCore.enabled }}
    - name: istio-core
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
