{{- $fluxSettingsKiali := merge .Values.kiali.flux .Values.flux -}}
{{- if .Values.kiali.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kiali
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: kiali
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/kiali/values.yaml") . | sha256sum }}
spec:
  targetNamespace: kiali
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "kiali" "package" .Values.kiali "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsKiali | nindent 2 }}

  {{- if .Values.kiali.postRenderers }}
  postRenderers:
  {{ toYaml .Values.kiali.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "kiali" "root" .) | nindent 2 }}

  {{ if or $istioEnabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
