{{- if and (not .Values.offline) (or .Values.gatekeeper.enabled .Values.clusterAuditor.enabled) }}
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: gatekeeper
  namespace: {{ .Release.Namespace }}
spec:
  ignore: |
    # exclude file extensions
    /**/*.md
    /**/*.txt
    /**/*.sh
  interval: {{ .Values.flux.interval }}
  url: {{ .Values.gatekeeper.git.repo }}
  ref:
    {{- include "validRef" .Values.gatekeeper.git | nindent 4 }}
{{- end }}
