{{- $fluxSettingsTwistlock := merge .Values.twistlock.flux .Values.flux -}}
{{- if .Values.twistlock.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: twistlock
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: twistlock
    app.kubernetes.io/component: "security"
    {{- include "commonLabels" . | nindent 4}}
spec:
  targetNamespace: twistlock
  chart:
    spec:
      {{- if eq .Values.twistlock.sourceType "git" }}
      chart: {{ .Values.twistlock.git.path }}
      sourceRef:
        kind: GitRepository
        name: twistlock
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.twistlock.helmRepo.chartName }}
      version: {{ .Values.twistlock.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.twistlock.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettingsTwistlock | nindent 2 }}
  
  {{- if .Values.twistlock.postRenderers }}
  postRenderers:
  {{ toYaml .Values.twistlock.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-twistlock-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-twistlock-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-twistlock-values
      kind: Secret
      valuesKey: "overlays"

  # TODO: DRY this up
  {{- if or .Values.gatekeeper.enabled .Values.istio.enabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
    {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.istio.enabled }}
    - name: istio
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
