{{- if and  .Values.addons.sonarqube.enabled  .Values.addons.sonarqube.sso.enabled .Values.sso.certificate_authority }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.sso.secretName }}
  namespace: sonarqube
type: Opaque
data:
  ca.pem: {{ .Values.sso.certificate_authority | b64enc }}
{{- end }}