{{- $fluxSettings := merge .Values.addons.headlamp.flux .Values.flux -}}
{{- if .Values.addons.headlamp.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: headlamp
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/headlamp/values.yaml") . | sha256sum }}
spec:
  targetNamespace: headlamp
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "headlamp" "package" .Values.addons.headlamp "root" .) | nindent 2 }}

  {{- toYaml $fluxSettings | nindent 2 }}

  {{- if .Values.addons.headlamp.postRenderers }}
  postRenderers:
  {{- toYaml .Values.addons.headlamp.postRenderers | nindent 2 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "headlamp" "root" .) | nindent 2 }}

  {{- if or (eq (include "istioEnabled" . ) "true") .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if (eq (include "istioEnabled" .) "true") }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
