{{- /* Used for creating values to use for Helm wrapper and package Helm charts. */ -}}
{{- range $pkg, $vals := .Values.packages -}}
{{- if and (dig "enabled" true $vals) (dig "wrapper" "enabled" false $vals) -}}
{{- $pkg = include "resourceName" $pkg -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $pkg }}-wrapper-values
  namespace: {{ dig "namespace" "name" $pkg $vals }}
type: Opaque
stringData:
  values.yaml: |
    {{- $defaults := ($.Files.Get (printf "defaults/%s.yaml" $pkg) | fromYaml) -}}
    {{- $overlays := dict "bigbang" $.Values "package" $vals -}}
    {{- $merged := merge $overlays $defaults }}
    package:
      name: {{ $pkg }}
      {{- if (omit $merged.package "git" "flux" "postRenderers") }}
      {{- tpl (toYaml (omit $merged.package "git" "flux" "postRenderers")) $ | nindent 6 }}
      {{- end }}
    bigbang:
      {{- toYaml (pick $merged.bigbang "domain" "openshift") | nindent 6 -}}
      {{- /* For every top level map, if it has the enable key, pass it through. */ -}}
      {{- range $bbpkg, $bbvals := $merged.bigbang -}}
      {{- if kindIs "map" $bbvals -}}
      {{- if hasKey $bbvals "enabled" -}}
      {{- $bbpkg | nindent 6 -}}:
        {{- /* For network policies, we need all of its values. */ -}}
        {{- if eq $bbpkg "networkPolicies" -}}
        {{- toYaml $bbvals | nindent 8 -}}
        {{- else }}
        enabled: {{ $bbvals.enabled }}
        {{- end -}}
      {{- /* For addons, pass through the enable key. */ -}}
      {{- else if eq $bbpkg "addons" -}}
      {{- $bbpkg | nindent 6 -}}:
        {{- range $addpkg, $addvals := $bbvals -}}
        {{- if hasKey $addvals "enabled" -}}
        {{- $addpkg | nindent 8 }}:
          enabled: {{ $addvals.enabled }}
          {{- /* For authservice, the selector values are needed. */ -}}
          {{- if and (eq $addpkg "authservice") (or (dig "values" "selector" "key" false $addvals) (dig "values" "selector" "value" false $addvals)) }}
          values:
            selector:
              {{- if (dig "values" "selector" "key" false $addvals) -}}
              key: {{ $addvals.values.selector.key }}
              {{- end -}}
              {{- if (dig "values" "selector" "value" false $addvals) -}}
              value: {{ $addvals.values.selector.key }}
              {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- end -}}
      {{- end }}
---
{{ end -}}
{{- end -}}