.idea/
certs/

.DS_Store

.terraform
*.pem
*rke2.yaml

*tfstate*

# dependencies
/node_modules

# debug
npm-debug.log*

# ignore developer specific files
# (used frequently in deployments)
patch.yaml
notes