include:
  - project: 'platform-one/big-bang/pipeline-templates/pipeline-templates'
    ref: 'redis-nomr'
    file: '/pipelines/bigbang-package.yaml' 
variables:
  PIPELINE_REPO_BRANCH: 'redis-nomr' 
  DEBUG_ENABLED: "true"
