[submodule "submodules/bigbang"]
	path = submodules/bigbang
	url = https://repo1.dso.mil/platform-one/big-bang/bigbang.git
[submodule "submodules/istio-controlplane"]
	path = submodules/istio-controlplane
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-controlplane
[submodule "submodules/istio-operator"]
	path = submodules/istio-operator
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-operator
[submodule "submodules/jaeger"]
	path = submodules/jaeger
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/jaeger
[submodule "submodules/kiali"]
	path = submodules/kiali
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/kiali
[submodule "submodules/cluster-auditor"]
	path = submodules/cluster-auditor
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/cluster-auditor
[submodule "submodules/policy"]
	path = submodules/policy
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/policy
[submodule "submodules/kyverno"]
	path = submodules/kyverno
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno
[submodule "submodules/elasticsearch-kibana"]
	path = submodules/elasticsearch-kibana
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/elasticsearch-kibana
[submodule "submodules/eck-operator"]
	path = submodules/eck-operator
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/eck-operator
[submodule "submodules/fluentbit"]
	path = submodules/fluentbit
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/fluentbit
[submodule "submodules/promtail"]
	path = submodules/promtail
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/promtail
[submodule "submodules/loki"]
	path = submodules/loki
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/loki
[submodule "submodules/tempo"]
	path = submodules/tempo
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/tempo
[submodule "submodules/monitoring"]
	path = submodules/monitoring
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/monitoring
[submodule "submodules/twistlock"]
	path = submodules/twistlock
	url = https://repo1.dso.mil/platform-one/big-bang/apps/security-tools/twistlock
[submodule "submodules/argocd"]
	path = submodules/argocd
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/argocd
[submodule "submodules/authservice"]
	path = submodules/authservice
	url = https://repo1.dso.mil/platform-one/big-bang/apps/core/authservice
[submodule "submodules/minio-operator"]
	path = submodules/minio-operator
	url = https://repo1.dso.mil/platform-one/big-bang/apps/application-utilities/minio-operator
[submodule "submodules/minio"]
	path = submodules/minio
	url = https://repo1.dso.mil/platform-one/big-bang/apps/application-utilities/minio
[submodule "submodules/gitlab"]
	path = submodules/gitlab
	url = https://repo1.dso.mil/platform-one/big-bang/apps/developer-tools/gitlab
[submodule "submodules/gitlab-runner"]
	path = submodules/gitlab-runner
	url = https://repo1.dso.mil/platform-one/big-bang/apps/developer-tools/gitlab-runner
[submodule "submodules/nexus"]
	path = submodules/nexus
	url = https://repo1.dso.mil/platform-one/big-bang/apps/developer-tools/nexus
[submodule "submodules/sonarqube"]
	path = submodules/sonarqube
	url = https://repo1.dso.mil/platform-one/big-bang/apps/developer-tools/sonarqube
[submodule "submodules/haproxy"]
	path = submodules/haproxy
	url = https://repo1.dso.mil/platform-one/big-bang/apps/developer-tools/haproxy
[submodule "submodules/anchore-enterprise"]
	path = submodules/anchore-enterprise
	url = https://repo1.dso.mil/platform-one/big-bang/apps/security-tools/anchore-enterprise
[submodule "submodules/mattermost-operator"]
	path = submodules/mattermost-operator
	url = https://repo1.dso.mil/platform-one/big-bang/apps/collaboration-tools/mattermost-operator
[submodule "submodules/mattermost"]
	path = submodules/mattermost
	url = https://repo1.dso.mil/platform-one/big-bang/apps/collaboration-tools/mattermost
[submodule "submodules/velero"]
	path = submodules/velero
	url = https://repo1.dso.mil/platform-one/big-bang/apps/cluster-utilities/velero
[submodule "submodules/keycloak"]
	path = submodules/keycloak
	url = https://repo1.dso.mil/platform-one/big-bang/apps/security-tools/keycloak
[submodule "submodules/vault"]
	path = submodules/vault
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/vault
[submodule "submodules/kyverno-policies"]
	path = submodules/kyverno-policies
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno-policies
[submodule "submodules/metrics-server"]
	path = submodules/metrics-server
	url = https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/metrics-server.git
