# default codeowners/project maintainers
* @micah.nagel @ryan.thompson.44 @ryan.j.garcia @rob.ferguson

# allow any one of the listed codeowners to approve merges to the documentation 
# does not allow the creator of the merge request to be the approver.
/docs/ @echuang @lynnstill @micah.nagel @ryan.j.garcia @ronwebb @ryan.thompson.44 @rob.ferguson