{{- if .Values.istioOperator.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.istioOperator "name" "istio-operator" "defaults" (include "bigbang.defaults.istioOperator" .)) }}
{{- end }}

{{- define "bigbang.defaults.istioOperator" -}}
createNamespace: false

enterprise: {{ .Values.istio.enterprise }}
imagePullPolicy: {{ .Values.imagePullPolicy }}

imagePullSecrets:
  - private-registry

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  controlPlaneCidr: {{ .Values.networkPolicies.controlPlaneCidr }}
monitoring:
  enabled: {{ .Values.monitoring.enabled }}
{{- end -}}
