{{- $fluxSettingsBackstage := merge .Values.addons.backstage.flux .Values.flux -}}
{{- if .Values.addons.backstage.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: backstage
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: backstage
    app.kubernetes.io/component: "developer-tools"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/backstage/values.yaml") . | sha256sum }}
spec:
  targetNamespace: backstage
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "backstage" "package" .Values.addons.backstage "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsBackstage | nindent 2 }}

  {{- if .Values.addons.backstage.postRenderers }}
  postRenderers:
  {{ toYaml .Values.addons.backstage.postRenderers | nindent 4 }}
  {{- end }}

  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "backstage" "root" .) | nindent 2 }}

  {{- if or .Values.grafana.enabled $istioEnabled .Values.kyverno.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
  - name: {{ include "istioHelmRelease" . }}
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.grafana.enabled }}
  - name: grafana
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyverno.enabled }}
  - name: kyverno
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
