{{- range .Values.helmRepositories }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  interval: {{ $.Values.flux.interval }}
  type: {{ .type | default "default" }}
  url: {{ .repository }}
  {{- if or .existingSecret (and .username .password) }}
  secretRef:
    name: {{ .existingSecret | default (printf "%s-secret" .name) }}
  {{- end }}
---
{{- end }}
