{{- $fluxSettingsPrometheusOperatorCRDs:= merge .Values.prometheusOperatorCRDs.flux .Values.flux -}}
{{- if and .Values.prometheusOperatorCRDs.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-operator-crds
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: prometheus-operator-crds
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/prometheus-operator-crds/values.yaml") . | sha256sum }}
spec:
  releaseName: prometheus-operator-crds
  targetNamespace: monitoring
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "prometheus-operator-crds" "package" .Values.prometheusOperatorCRDs "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsPrometheusOperatorCRDs | nindent 2 }}

  {{- if .Values.prometheusOperatorCRDs.postRenderers }}
  postRenderers:
  {{ toYaml .Values.prometheusOperatorCRDs.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "prometheus-operator-crds" "root" .) | nindent 2 }}
{{- end }}
