{{- if .Values.addons.keycloak.enabled }}
{{- include "values-secret" (dict 
  "root" $ 
  "package" .Values.addons.keycloak 
  "name" "keycloak" 
  "defaults" ((mergeOverwrite (include "bigbang.defaults.keycloak" . | fromYaml) (include "bigbang.keycloak.bb-common-migrations" . | fromYaml)) | toYaml)
) }}
{{- end }}

{{- define "bigbang.defaults.keycloak" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $tlsEnabled := and .Values.addons.keycloak.ingress.cert .Values.addons.keycloak.ingress.key -}}

# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

{{- $istioInjection := and $istioEnabled (eq (dig "istio" "injection" "enabled" .Values.addons.keycloak) "enabled") }}
{{- $monitoringEnabled := .Values.monitoring.enabled }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  istioNamespaceSelector:
  {{ include "istioNamespaceSelector" . | nindent 4 }}
  ingressLabels:
    {{- include "getGatewaySelector" (dict "default" "passthrough" "pkg" .Values.addons.keycloak "root" .) | nindent 4 }}
  egress:
    defaults:
      allowIstiod:
        enabled: {{ .Values.istiod.enabled }}
    definitions: {{ .Values.networkPolicies.egress.definitions | toYaml | nindent 6 }}
    from:
      keycloak:
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
  ingress:
    definitions: {{ .Values.networkPolicies.ingress.definitions | toYaml | nindent 6 }}
    defaults:
      allowPrometheusToIstioSidecar:
        enabled: {{ and .Values.monitoring.enabled .Values.istiod.enabled }}
    to:
      keycloak:9000:
        from:
          k8s:
            monitoring/prometheus: {{ .Values.monitoring.enabled }}
istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or
      (dig "istio" "hardened" "enabled" false .Values.addons.keycloak.values)
      (dig "hardened" "enabled" false .Values.istiod.values)
    }}
  injection: {{ dig "istio" "injection" "enabled" .Values.addons.keycloak }}
  keycloak:
    enabled: true
    gateways:
      - {{ include "getGatewayName" (dict "default" "passthrough" "gateway" .Values.addons.keycloak.ingress.gateway "root" .)}}

upstream:
  replicas: 1
  image:
    pullPolicy: {{ .Values.imagePullPolicy }}
  imagePullSecrets:
  - name: private-registry
  {{- with .Values.addons.keycloak.database }}
  database:
    existingSecret: ""
    existingSecretKey: ""
    vendor: {{ coalesce .type "postgres"}} 
    hostname: {{ coalesce .host .hostname "keycloak-postgresql" }}
    port: {{ coalesce .port 5432 }}
    database: {{ coalesce .database "keycloak" }}
    username: {{ coalesce .username "keycloak" }}
    password: {{ coalesce .password "keycloak" | quote }}
  {{- end }}

  {{- if $istioInjection }}
  podAnnotations:
    {{ include "istioAnnotation" . }}
  {{- end }}

  {{- if .Values.kiali.enabled }}
  podLabels:
    service.istio.io/canonical-name: keycloak-keycloak
  {{- end }}

  http:
    internalScheme: HTTP

  extraEnv: |
    - name: KC_HTTPS_CLIENT_AUTH
      value: request
    - name: KC_TRUSTSTORE_PATHS
      value: /etc/ssl/certs/
    - name: KC_HOSTNAME
      value: keycloak.{{ .Values.domain }}
    - name: KC_HOSTNAME_STRICT
      value: "true"
    {{- if $tlsEnabled }}
    - name: KC_HTTPS_CERTIFICATE_FILE
      value: /opt/keycloak/conf/tls.crt
    - name: KC_HTTPS_CERTIFICATE_KEY_FILE
      value: /opt/keycloak/conf/tls.key
    {{- if eq (dig "http" "internalScheme" "HTTP" .Values.addons.keycloak.values) "HTTP" }}
    - name: KC_HTTP_MANAGEMENT_SCHEME
      value: http
    {{- end }}
    {{- end }}

  {{- if $istioEnabled }}
  serviceHeadless:
    extraPorts:
    - name: jgroups
      port: 7800
      protocol: TCP
      targetPort: 7800
    - name: jgroups-fd
      port: 57800
      protocol: TCP
      targetPort: 57800
  {{- end }}

  serviceMonitor:
    enabled: {{ $monitoringEnabled }}
    scheme: https
    {{- if and $monitoringEnabled $tlsEnabled $istioEnabled }}
    tlsConfig:
      caFile: /etc/prom-certs/root-cert.pem
      certFile: /etc/prom-certs/cert-chain.pem
      keyFile: /etc/prom-certs/key.pem
      insecureSkipVerify: true
    {{- end }}


  {{- if or .Values.addons.keycloak.database.host (and .Values.addons.keycloak.ingress.cert .Values.addons.keycloak.ingress.key) }}
  secrets:
    {{- if $tlsEnabled }}
    tlscert:
      stringData:
        tls.crt: {{ .Values.addons.keycloak.ingress.cert | quote }}
    tlskey:
      stringData:
        tls.key: {{ .Values.addons.keycloak.ingress.key  | quote }}
    {{- end }}

  {{- end }}
  {{- if $tlsEnabled }}
  extraVolumes: |
    - name: tlscert
      secret:
        secretName: '{{ `{{ include "keycloak.fullname" . }}` }}-tlscert'
    - name: tlskey
      secret:
        secretName: '{{ `{{ include "keycloak.fullname" . }}` }}-tlskey'

  extraVolumeMounts: |
    # keep /etc/x509/https/ for legacy backwards compatibility
    - name: tlscert
      mountPath: /etc/x509/https/tls.crt
      subPath: tls.crt
      readOnly: true
    - name: tlskey
      mountPath: /etc/x509/https/tls.key
      subPath: tls.key
      readOnly: true
    # Quarkus cert paths
    - name: tlscert
      mountPath: /opt/keycloak/conf/tls.crt
      subPath: tls.crt
      readOnly: true
    - name: tlskey
      mountPath: /opt/keycloak/conf/tls.key
      subPath: tls.key
      readOnly: true
  {{- end }}

postgresql:
  {{- if or .Values.addons.keycloak.database.host (dig "upstream" "database" "hostname" false .Values.addons.keycloak.values)  }}
  enabled: false
  {{- else }}
  enabled: true
  auth:
    enablePostgresUser: true
  global:
    imagePullSecrets:
    - private-registry
    postgresql:
      auth:
        username: keycloak
        password: keycloak
        database: keycloak
  {{- end }}

  {{- if $istioInjection }}
  primary:
    {{- if $istioInjection }}
    annotations:
      {{- include "istioAnnotation" . | nindent 6 }}
    {{- end }}
  readReplicas:
    {{- if $istioInjection }}
    annotations:
      {{- include "istioAnnotation" . | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
