{{- if .Values.addons.keycloak.enabled }}
{{- /* Create a cleaned copy of keycloak config and merge deprecated paths into current paths */ -}}
{{- $keycloakPackage := deepCopy .Values.addons.keycloak -}}
{{- if .Values.addons.keycloak.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.addons.keycloak.values) | fromYaml -}}
{{- $keycloakPackage = set $keycloakPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict 
  "root" $ 
  "package" $keycloakPackage
  "name" "keycloak" 
  "defaults" (include "bigbang.defaults.keycloak" . )
) }}
{{- end }}

{{- define "bigbang.defaults.keycloak" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.addons.keycloak.values) (dig "hardened" "enabled" false .Values.istiod.values) }}
{{- $istioInjection := and $istioEnabled (eq (dig "istio" "injection" "enabled" .Values.addons.keycloak) "enabled") }}
{{- $monitoringEnabled := .Values.monitoring.enabled }}
{{- $tlsEnabled := and .Values.addons.keycloak.ingress.cert .Values.addons.keycloak.ingress.key -}}
{{- $externalPostgresEnabled := ternary true false (or .Values.addons.keycloak.database.host (dig "upstream" "database" "hostname" false .Values.addons.keycloak.values)) -}}

# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ $istioHardenedEnabled }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: true

routes:
  inbound:
    keycloak:
      enabled: true
      gateways:
        - {{ include "getGatewayName" (dict "default" "passthrough" "gateway" .Values.addons.keycloak.ingress.gateway "root" .)}}
      hosts:
        - keycloak.{{ $domainName }}
      service: keycloak-keycloak-http.keycloak.svc.cluster.local
      port: 8443
      passthrough:
        enabled: true
  outbound:
    bb-tests:
      enabled: {{ dig "bbtests" "enabled" false .Values.addons.keycloak.values }}
      hosts:
      - repo1.dso.mil

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  # note: ztunnel does not exist yet, defaulting to false until ambient package is added
  hbonePortInjection:
    enabled: {{ dig "enabled" false (default dict .Values.ztunnel) }}
  egress:
    defaults:
      allowIstiod:
        enabled: {{ .Values.istiod.enabled }}
    definitions: {{ .Values.networkPolicies.egress.definitions | toYaml | nindent 6 }}
    from:
      keycloak:
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
          definition:
            database-subnets: {{ $externalPostgresEnabled }}
  ingress:
    definitions: {{ .Values.networkPolicies.ingress.definitions | toYaml | nindent 6 }}
    defaults:
      allowPrometheusToIstioSidecar:
        enabled: {{ and .Values.monitoring.enabled .Values.istiod.enabled }}
    to:
      keycloak:9000:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}

upstream:
  replicas: 1
  image:
    pullPolicy: {{ .Values.imagePullPolicy }}
  imagePullSecrets:
  - name: private-registry
  {{- with .Values.addons.keycloak.database }}
  database:
    existingSecret: ""
    existingSecretKey: ""
    vendor: {{ coalesce .type "postgres"}} 
    hostname: {{ coalesce .host .hostname "keycloak-postgresql" }}
    port: {{ coalesce .port 5432 }}
    database: {{ coalesce .database "keycloak" }}
    username: {{ coalesce .username "keycloak" }}
    password: {{ coalesce .password "keycloak" | quote }}
  {{- end }}

  {{- if $istioInjection }}
  podAnnotations:
    {{ include "istioAnnotation" . }}
  {{- end }}

  {{- if .Values.kiali.enabled }}
  podLabels:
    service.istio.io/canonical-name: keycloak-keycloak
  {{- end }}

  http:
    internalScheme: HTTP

  extraEnv: |
    - name: KC_HTTPS_CLIENT_AUTH
      value: request
    - name: KC_TRUSTSTORE_PATHS
      value: /etc/ssl/certs/
    - name: KC_HOSTNAME
      value: keycloak.{{ .Values.domain }}
    - name: KC_HOSTNAME_STRICT
      value: "true"
    {{- if $tlsEnabled }}
    - name: KC_HTTPS_CERTIFICATE_FILE
      value: /opt/keycloak/conf/tls.crt
    - name: KC_HTTPS_CERTIFICATE_KEY_FILE
      value: /opt/keycloak/conf/tls.key
    {{- if eq (dig "http" "internalScheme" "HTTP" .Values.addons.keycloak.values) "HTTP" }}
    - name: KC_HTTP_MANAGEMENT_SCHEME
      value: http
    {{- end }}
    {{- end }}

  {{- if $istioEnabled }}
  serviceHeadless:
    extraPorts:
    - name: jgroups
      port: 7800
      protocol: TCP
      targetPort: 7800
    - name: jgroups-fd
      port: 57800
      protocol: TCP
      targetPort: 57800
  {{- end }}

  serviceMonitor:
    enabled: {{ $monitoringEnabled }}
    scheme: https
    {{- if and $monitoringEnabled $tlsEnabled $istioEnabled }}
    tlsConfig:
      caFile: /etc/prom-certs/root-cert.pem
      certFile: /etc/prom-certs/cert-chain.pem
      keyFile: /etc/prom-certs/key.pem
      insecureSkipVerify: true
    {{- end }}


  {{- if or .Values.addons.keycloak.database.host (and .Values.addons.keycloak.ingress.cert .Values.addons.keycloak.ingress.key) }}
  secrets:
    {{- if $tlsEnabled }}
    tlscert:
      stringData:
        tls.crt: {{ .Values.addons.keycloak.ingress.cert | quote }}
    tlskey:
      stringData:
        tls.key: {{ .Values.addons.keycloak.ingress.key  | quote }}
    {{- end }}

  {{- end }}
  {{- if $tlsEnabled }}
  extraVolumes: |
    - name: tlscert
      secret:
        secretName: '{{ `{{ include "keycloak.fullname" . }}` }}-tlscert'
    - name: tlskey
      secret:
        secretName: '{{ `{{ include "keycloak.fullname" . }}` }}-tlskey'

  extraVolumeMounts: |
    # keep /etc/x509/https/ for legacy backwards compatibility
    - name: tlscert
      mountPath: /etc/x509/https/tls.crt
      subPath: tls.crt
      readOnly: true
    - name: tlskey
      mountPath: /etc/x509/https/tls.key
      subPath: tls.key
      readOnly: true
    # Quarkus cert paths
    - name: tlscert
      mountPath: /opt/keycloak/conf/tls.crt
      subPath: tls.crt
      readOnly: true
    - name: tlskey
      mountPath: /opt/keycloak/conf/tls.key
      subPath: tls.key
      readOnly: true
  {{- end }}

postgresql:
  {{- if $externalPostgresEnabled }}
  enabled: false
  {{- else }}
  enabled: true
  auth:
    enablePostgresUser: true
  global:
    imagePullSecrets:
    - private-registry
    postgresql:
      auth:
        username: keycloak
        password: keycloak
        database: keycloak
  {{- end }}

  {{- if $istioInjection }}
  primary:
    {{- if $istioInjection }}
    annotations:
      {{- include "istioAnnotation" . | nindent 6 }}
    {{- end }}
  readReplicas:
    {{- if $istioInjection }}
    annotations:
      {{- include "istioAnnotation" . | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
