{{- $fluxSettingsVelero := merge .Values.addons.velero.flux .Values.flux -}}
{{- if .Values.addons.velero.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: velero
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: velero
    app.kubernetes.io/component: "cluster-utilities"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/velero/values.yaml") . | sha256sum }}
spec:
  targetNamespace: velero
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "velero" "package" .Values.addons.velero "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsVelero | nindent 2 }}
  
  {{- if .Values.addons.velero.postRenderers }}
  postRenderers:
  {{ toYaml .Values.addons.velero.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "velero" "root" .) | nindent 2 }}
  {{- if or $istioEnabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
    {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.kyvernoPolicies.enabled }}  
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
