{{- $fluxSettingsGitlab := merge .Values.addons.gitlab.flux .Values.flux -}}
{{- if .Values.addons.gitlab.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitlab
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/component: "developer-tools"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/gitlab/values.yaml") . | sha256sum }}
spec:
  releaseName: gitlab
  targetNamespace: gitlab
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "gitlab" "package" .Values.addons.gitlab "root" .) | nindent 2 }}


  {{- toYaml $fluxSettingsGitlab | nindent 2 }}
  {{- if or .Values.addons.gitlab.postRenderers .Values.monitoring.enabled }}
  postRenderers:
  {{- if .Values.monitoring.enabled }}
  {{ include "gitlab.serviceMonitorPostRenderers" . | nindent 4 }}
  {{- end }}
  {{- with .Values.addons.gitlab.postRenderers }}
  {{ toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "gitlab" "root" .) | nindent 2 }}

  {{- if or .Values.gatekeeper.enabled $istioEnabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if .Values.gatekeeper.enabled }}
  - name: gatekeeper
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if $istioEnabled }}
  - name: {{ include "istioHelmRelease" . }}
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
  - name: kyverno-policies
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
  - name: monitoring
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
