{{- $fluxSettingsGitlab := merge .Values.addons.gitlab.flux .Values.flux -}}
{{- if .Values.addons.gitlab.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: gitlab
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: gitlab
    app.kubernetes.io/component: "developer-tools"
    {{- include "commonLabels" . | nindent 4}}
spec:
  releaseName: gitlab
  targetNamespace: gitlab
  chart:
    spec:
      {{- if eq .Values.addons.gitlab.sourceType "git" }}
      chart: {{ .Values.addons.gitlab.git.path }}
      sourceRef:
        kind: GitRepository
        name: gitlab
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.addons.gitlab.helmRepo.chartName }}
      version: {{ .Values.addons.gitlab.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.addons.gitlab.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- end }}
      interval: 5m


  {{- toYaml $fluxSettingsGitlab | nindent 2 }}

  {{- if .Values.addons.gitlab.postRenderers }}
  postRenderers:
  {{ toYaml .Values.addons.gitlab.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-gitlab-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-gitlab-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-gitlab-values
      kind: Secret
      valuesKey: "overlays"

  {{- if or .Values.gatekeeper.enabled .Values.istio.enabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if .Values.gatekeeper.enabled }}
  - name: gatekeeper
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.istio.enabled }}
  - name: istio
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
  - name: kyverno-policies
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
  - name: monitoring
    namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}