{{- if or .Values.addons.gitlab.enabled .Values.addons.gitlabRunner.enabled }}
{{- if .Values.addons.gitlab.sso.enabled }}
# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-sso-provider
  namespace: gitlab
type: kubernetes.io/opaque
stringData:
  gitlab-sso.json: |-
    {
      "name": "openid_connect",
      "label": "{{ default .Values.sso.name .Values.addons.gitlab.sso.label }}",
      "args": {
        "name": "openid_connect",
        "scope": [
          {{- $scopes := .Values.addons.gitlab.sso.scopes | default (list "Gitlab") | uniq }}
          {{- range $index, $scopes }}
          {{ $index | quote }}{{if ne $index (last $scopes)}},{{end}}
          {{- end }}
        ],
        "response_type": "code",
        {{- if .Values.addons.gitlab.sso.issuer_uri }}
        "issuer": "{{ .Values.addons.gitlab.sso.issuer_uri }}",
        {{- else }}
        "issuer": "{{ include "sso.url" . }}",
        {{- end }}
        "client_auth_method": "query",
        "discovery": true,
        "uid_field": {{ default (dig "oidc" "claims" "username" "" .Values.sso) .Values.addons.gitlab.sso.uid_field | default "preferred_username" | quote }},
        "client_options": {
          "identifier": "{{ .Values.addons.gitlab.sso.client_id }}",
          "secret": "{{ .Values.addons.gitlab.sso.client_secret }}",
          "redirect_uri": "https://{{ .Values.addons.gitlab.hostnames.gitlab }}.{{ $domainName }}/users/auth/openid_connect/callback",
          {{- if .Values.addons.gitlab.sso.end_session_uri }}
          "end_session_endpoint": "{{ .Values.addons.gitlab.sso.end_session_uri }}"
          {{- else }}
          "end_session_endpoint": "{{ include "sso.oidc.endsession" . }}"
          {{- end }}
        }
      }
    }

{{- end }}
{{- end }}
