{{- /* Used for deploying a package using a Helm chart */ -}}
{{- range $pkg, $vals := .Values.packages -}}
{{- if and (dig "enabled" true $vals) (not $vals.kustomize) -}}
{{- $pkg := include "resourceName" $pkg -}}
{{- $defaults := $.Files.Get (printf "defaults/%s.yaml" $pkg) -}}
{{- if $defaults -}}
{{- $vals := mergeOverwrite $vals ($defaults | fromYaml).package -}}
{{- end -}}

{{- $fluxSettings := merge (default $vals.flux (dict)) $.Values.flux -}}

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{ $pkg }}
  namespace:  {{ if dig "helmRelease" "namespace" nil (index $.Values.packages $pkg) }}
                {{ dig "helmRelease" "namespace" "" (index $.Values.packages $pkg) }}
              {{ else }}
                {{ default (dig "namespace" "name" $pkg $vals) "" }}
              {{ end }}
  labels:
    app.kubernetes.io/name: {{ $pkg }}
    {{- include "commonLabels" $ | nindent 4 }}
  annotations:
    checksum/bigbang-values: {{ (toJson $vals.values) | sha256sum }}
spec:
  releaseName: {{ $pkg }}
  targetNamespace: {{ dig "namespace" "name" $pkg $vals }}
  chart:
    spec:
      {{- if $vals.git }}
      chart: {{ dig "git" "path" "chart" $vals }}
      sourceRef:
        kind: GitRepository
        name: {{ $pkg }}
        namespace:  {{ if dig "helmRelease" "namespace" nil (index $.Values.packages $pkg) }}
                      {{ dig "helmRelease" "namespace" "" (index $.Values.packages $pkg) }}
                    {{ else }}
                      {{ default (dig "namespace" "name" $pkg $vals) "" }}
                    {{ end }}
      {{- else if $vals.helmRepo }}
      chart: {{ dig "helmRepo" "chartName" $pkg $vals }}
      version: {{ dig "helmRepo" "tag" nil $vals }}
      sourceRef:
        kind: HelmRepository
        name: {{ dig "helmRepo" "repoName" "registry1" $vals }}
        namespace: {{ $.Release.Namespace }}
      {{- $repoType := include "getRepoType" (dict "repoName" $vals.helmRepo.repoName "allRepos" $.Values.helmRepositories) -}}
      {{- if (and $vals.helmRepo.cosignVerify (eq $repoType "oci")) }} # Needs to be an OCI repo
      verify:
        provider: cosign
        secretRef:
          name: {{ printf "%s-cosign-pub" $vals.helmRepo.repoName }}
      {{- end }}
      {{- else }}
      {{- fail (printf "Values for source (git or helmRepo) are required for package %s" $pkg) }}
      {{- end }}
      interval: {{ default "5m" $fluxSettings.interval }}
      reconcileStrategy: Revision
  {{- toYaml $fluxSettings | nindent 2 }}
  {{- if $vals.postRenderers }}
  postRenderers:
  {{- toYaml $vals.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ $pkg }}-values
      kind: Secret

  {{- /* Always wait on policy enforcement */ -}}
  {{- $gatekeeperDep := $.Values.gatekeeper.enabled -}}
  {{- $kyvernoDep := $.Values.kyvernoPolicies.enabled -}}
  {{- /* Wait on istio if sidecar is enabled */ -}}
  {{- $istioDep := (and $.Values.istio.enabled (eq "enabled" (dig "istio" "injection" "enabled" $vals))) -}}
  {{- if or $gatekeeperDep $kyvernoDep $istioDep $vals.dependsOn }}
  dependsOn:
    {{- if $gatekeeperDep }}
    - name: gatekeeper
      namespace: {{ default "bigbang" $.Values.namespace }}
    {{- end }}
    {{- if $kyvernoDep }}
    - name: kyverno-policies
      namespace: {{ default "bigbang" $.Values.namespace }}
    {{- end }}
    {{- if $istioDep }}
    - name: istio
      namespace: {{ default "bigbang" $.Values.namespace }}
    {{- end -}}
    {{- if $vals.dependsOn }}
    {{- toYaml $vals.dependsOn | nindent 4 }}
    {{- end }}
  {{- end }}
---
{{ end -}}
{{- end -}}
