{{- if or .Values.addons.minioOperator.enabled .Values.addons.minio.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.addons.minioOperator "name" "minio-operator" "defaults" (include "bigbang.defaults.minio-operator" .)) }}
{{- end }}

{{- define "bigbang.defaults.minio-operator" -}}
podAnnotations:
  sidecar.istio.io/inject: "true"
  traffic.sidecar.istio.io/includeInboundPorts: "*"
  traffic.sidecar.istio.io/excludeInboundPorts: "9443"

imagePullSecrets:
  - name: private-registry
{{- end -}}
