{{- $nexusOldValues := default dict .Values.addons.nexus -}}
{{- $nexusValues := mergeOverwrite $nexusOldValues .Values.addons.nexusRepositoryManager -}}
{{- $fluxSettingsNexus := merge $nexusValues.flux .Values.flux -}}
{{- if $nexusValues.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nexus-repository-manager
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: "nexus-repository-manager"
    app.kubernetes.io/component: "developer-tools"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/nexus-repository-manager/values.yaml") . | sha256sum }}
spec:
  targetNamespace: nexus-repository-manager
  releaseName: nexus-repository-manager
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "nexus-repository-manager" "package" $nexusValues "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsNexus | nindent 2 }}

  {{- if $nexusValues.postRenderers }}
  postRenderers:
  {{ toYaml $nexusValues.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "nexus-repository-manager" "root" .) | nindent 2 }}

  {{ if or $istioEnabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
