{{- if and (eq .Values.tempo.sourceType "git") (not .Values.offline) .Values.tempo.enabled }}
{{- include "bigbang.gitRepository" (dict "name" "tempo" "gitCredsName" "tempo" "git" .Values.tempo.git "component" "core" "root" .) }}
{{- end }}
