{{- if .Values.tempo.enabled }}
{{- /* Create a cleaned copy of kiali config and merge deprecated paths into current paths */ -}}
{{- $tempoPackage := deepCopy .Values.tempo -}}
{{- if .Values.tempo.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.tempo.values) | fromYaml -}}
{{- $tempoPackage = set $tempoPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict "root" $ "package" $tempoPackage "name" "tempo" "defaults" (include "bigbang.defaults.tempo" .)) }}
{{- end }}

{{- define "bigbang.defaults.tempo" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.tempo.values) (dig "hardened" "enabled" false .Values.istiod.values) (dig "hardened" "enabled" false .Values.tempo.values) }}
{{- $storageMode := dig "upstream" "tempo" "storage" "trace" "backend" "local" .Values.tempo.values }}

upstream:
  # --- Add writable runtime volume ---
  extraVolumes:
    - name: tempo-runtime
      emptyDir: {}  # ephemeral, backed by node disk or memor
  {{- if $istioEnabled }}
  podAnnotations:
    {{ include "istioAnnotation" . }}
  {{- end }}

  {{- $tempoAuthserviceKey := (dig "selector" "key" "protect" .Values.addons.authservice.values) }}
  {{- $tempoAuthserviceValue := (dig "selector" "value" "keycloak" .Values.addons.authservice.values) }}
  {{- if or .Values.kiali.enabled .Values.tempo.sso.enabled }}
  podLabels:
    {{- if .Values.kiali.enabled }}
    service.istio.io/canonical-name: tempo-tempo
    {{- end }}
    {{- if .Values.tempo.sso.enabled }}
    {{ $tempoAuthserviceKey }}: {{ $tempoAuthserviceValue }}
    {{- end }}
  {{- end }}


  tempo:
    extraVolumeMounts:
      - name: tempo-runtime
        mountPath: /var/tempo
    pullPolicy: {{ .Values.imagePullPolicy }}
    global_overrides:
      ingestion_rate_limit_bytes: 30000000
  {{- with .Values.tempo.objectStorage }}
  {{- if and .endpoint .region .bucket }}
    storage: 
      trace:
        backend: s3
        s3:
          endpoint: {{ .endpoint }}
          bucket: {{ .bucket }}
          region: {{ .region }}
          insecure: {{ .insecure }}
          forcepathstyle: true
  {{- end }}
  {{- end }}
  {{- if and .Values.tempo.metricsGenerator.enabled .Values.monitoring.enabled }}
    metricsGenerator:
      enabled: true
      remoteWriteUrl: "http://monitoring-monitoring-kube-prometheus.monitoring.svc:9090/api/v1/write"
    per_tenant_overrides:
      'single-tenant':
        ingestion_rate_strategy: local
        ingestion_rate_limit_bytes: 10485760         # 10MB/sec
        ingestion_burst_size_bytes: 20971520         # 20MB burst
        metrics_generator_processors:
          - local-blocks
          - service-graphs
          - span-metrics
        metrics_generator_processor_span_metrics_histogram_buckets: [0.002, 0.004, 0.008, 0.016, 0.032, 0.064, 0.128, 0.256, 0.512, 1.024, 2.048, 4.096, 8.192, 16.384]
        # Example spnametrics filter, filters out non-server traces
        # metrics_generator_processor_span_metrics_filter_policies:
        #   - include:
        #       match_type: strict
        #       attributes:
        #         - key: kind
        #           value: SPAN_KIND_SERVER
  {{- end }}
  serviceMonitor:
    enabled: {{ .Values.monitoring.enabled }}

  tempoQuery:
    pullPolicy: {{ .Values.imagePullPolicy }}

  serviceAccount:
    imagePullSecrets:
      - name: private-registry

# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
hostname: {{ $domainName }}
domain: {{ $domainName }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  # note: ztunnel does not exist yet, defaulting to false until ambient package is added
  hbonePortInjection:
    enabled: {{ dig "enabled" false (default dict .Values.ztunnel) }}
  ingress:
    to:
      tempo:3200:
        from:
          k8s:
            monitoring-grafana@monitoring/grafana: {{ .Values.grafana.enabled }}
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}
            kiali-service-account@kiali/kiali: {{ .Values.kiali.enabled }}
      tempo:4317:
        from:
          k8s:
            alloy-alloy-operator@alloy/alloy: {{ .Values.alloy.enabled }}
            alloy-alloy-logs@alloy/alloy-logs: {{ .Values.alloy.enabled }}
  egress:
    definitions:
      storage-subnets:
        {{ toYaml ( index .Values.networkPolicies.egress.definitions "storage-subnets") | nindent 8 }}
    from:
      tempo:
        to:
          k8s:
            monitoring/prometheus:9090: {{ .Values.monitoring.enabled }}
          definition:
            storage-subnets: {{ ne $storageMode "local" }}

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or (dig "istio" "hardened" "enabled" false .Values.tempo.values) (dig "hardened" "enabled" false .Values.istiod.values) }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: true

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

sso:
  enabled: {{ .Values.tempo.sso.enabled }}
{{- end -}}
