{{- if and .Values.loki.enabled (not .Values.elasticsearchKibana.enabled) (not .Values.fluentbit.enabled) }}
{{- if ( include "imagePullSecret" . ) }}
apiVersion: v1
kind: Secret
metadata:
  name: private-registry
  namespace: logging
  labels:
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
{{- end }}
{{- end }}
