{{- if and (not .Values.offline) .Values.monitoring.enabled }}
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: monitoring
  namespace: {{ .Release.Namespace }}
spec:
  ignore: |
    # exclude file extensions
    /**/*.md
    /**/*.txt
    /**/*.sh
  interval: {{ .Values.flux.interval }}
  url: {{ .Values.monitoring.git.repo }}
  ref:
    {{- include "validRef" .Values.monitoring.git | nindent 4 }}
{{- end }}
