{{- $fluxSettingsMonitoring := merge .Values.monitoring.flux .Values.flux -}}
{{- if .Values.monitoring.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: monitoring
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/monitoring/values.yaml") . | sha256sum }}
spec:
  targetNamespace: monitoring
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "monitoring" "package" .Values.monitoring "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsMonitoring | nindent 2 }}

  {{- if .Values.monitoring.postRenderers }}
  postRenderers:
  {{ toYaml .Values.monitoring.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "monitoring" "root" .) | nindent 2 }}

  dependsOn:
    - name: prometheus-operator-crds
      namespace: {{ .Release.Namespace }}
  {{- if or .Values.gatekeeper.enabled $istioEnabled .Values.kyvernoPolicies.enabled .Values.addons.vault.enabled }}
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.addons.vault.enabled }}
    - name: vault
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
