{{- $pkg := "harbor" }}

{{- /* Create secret */ -}}
{{- if (get .Values.addons $pkg).enabled }}
{{- /* Create a cleaned copy of harbor config and merge deprecated paths into current paths */ -}}
{{- $harborPackage := deepCopy .Values.addons.harbor -}}
{{- if .Values.addons.harbor.values -}}
{{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.addons.harbor.values) | fromYaml -}}
{{- $harborPackage = set $harborPackage "values" $cleanedValues -}}
{{- end -}}
{{- include "values-secret" (dict 
  "root" $ 
  "package" $harborPackage 
  "name" $pkg 
  "defaults" ((mergeOverwrite (include "bigbang.defaults.harbor" . | fromYaml) (include "bigbang.harbor.bb-common-migrations" . | fromYaml)) | toYaml)
)}}
{{- end }}

{{- define "bigbang.defaults.harbor" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.addons.harbor.values) (dig "hardened" "enabled" false .Values.istiod.values) (dig "hardened" "enabled" false .Values.addons.harbor.values) }}
{{- $postgresEnabled := dig "postgresql" "enabled" true .Values.addons.harbor.values }}

imagePullSecrets:
- name: private-registry
imagePullPolicy: {{ .Values.imagePullPolicy }}

externalURL: https://harbor.{{ .Values.domain }}

domain: {{ .Values.domain }}

istio:
  enabled: {{ $istioEnabled }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: {{ $istioHardenedEnabled }}

routes:
  inbound:
    harbor:
      gateways:
        - {{ include "getGatewayName" (dict "gateway" .Values.addons.harbor.ingress.gateway "root" .)}}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}

  egress:
    definitions: {{ .Values.networkPolicies.egress.definitions | toYaml | nindent 6 }}
    from:
      harbor:
        to:
          definition:
            database-subnets: {{ not $postgresEnabled }}
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
  ingress:
    definitions: {{ .Values.networkPolicies.ingress.definitions | toYaml | nindent 6 }}
    to:
      harbor:8001:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: {{ .Values.monitoring.enabled }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

openshift: {{ .Values.openshift }}

upstream:
  metrics:
    enabled: {{ .Values.monitoring.enabled }}
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

{{- end }}
