{{- $pkg := "harbor" }}

{{- /* Create secret */ -}}
{{- if (get .Values.addons $pkg).enabled }}
{{- include "values-secret" (dict "root" $ "package" (get .Values.addons $pkg) "name" $pkg "defaults" (include (printf "bigbang.defaults.%s" $pkg) .)) }}
{{- end }}

{{- define "bigbang.defaults.harbor" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}

imagePullSecrets:
- name: private-registry
imagePullPolicy: {{ .Values.imagePullPolicy }}

externalURL: https://harbor.{{ .Values.domain }}

domain: {{ .Values.domain }}

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or
      (dig "istio" "hardened" "enabled" false .Values.addons.harbor.values)
      (dig "hardened" "enabled" false .Values.istiod.values)
    }}
  injection: {{ dig "istio" "injection" "enabled" .Values.addons.harbor }}
  harbor:
    gateways:
      - {{ include "getGatewayName" (dict "gateway" .Values.addons.harbor.ingress.gateway "root" .)}}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  controlPlaneCidr: {{ .Values.networkPolicies.controlPlaneCidr }}
  vpcCidr: {{ .Values.networkPolicies.vpcCidr }}
  ingressLabels:
    {{- include "getGatewaySelector" (dict "pkg" .Values.addons.harbor "root" .) | nindent 4 }}
  istioNamespaceSelector:
    {{ include "istioNamespaceSelector" . | nindent 4 }}


monitoring:
  enabled: {{ .Values.monitoring.enabled }}

openshift: {{ .Values.openshift }}

upstream:
  metrics:
    enabled: {{ .Values.monitoring.enabled }}
    serviceMonitor:
      enabled: {{ .Values.monitoring.enabled }}

{{- end }}
