{{- $pkg := "istiod" }}

{{- /* Create secret */ -}}
{{- if (get .Values $pkg).enabled }}
{{- include "values-secret" (dict 
  "root" $ 
  "package" (get .Values $pkg) 
  "name" ($pkg | kebabcase) 
  "defaults" ((mergeOverwrite (include "bigbang.defaults.istiod" . | fromYaml) (include "bigbang.istiod.bb-common-migrations" . | fromYaml)) | toYaml)
)}}
{{- end }}

{{- define "bigbang.defaults.istiod" -}}
{{- $authserviceEnabled := (or .Values.addons.authservice.enabled (and .Values.monitoring.enabled .Values.monitoring.sso.enabled) (and .Values.addons.thanos.enabled .Values.addons.thanos.sso.enabled)) }}
networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  egress:
    definitions: {{.Values.networkPolicies.egress.definitions | toYaml | nindent 6 }}
    from:
      istiod:
        to:
          definition:
            sso: {{ $authserviceEnabled }}
  ingress:
    definitions: {{.Values.networkPolicies.ingress.definitions | toYaml | nindent 6 }}
    to:
      istiod:15014:
        from:
          k8s:
            kiali/kiali: {{ .Values.kiali.enabled }}
            monitoring/prometheus: {{ .Values.monitoring.enabled }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

authservice:
  enabled: {{ $authserviceEnabled }}

upstream:
  cni:
    enabled: {{ .Values.istioCNI.enabled }}
  global:
    imagePullPolicy: {{ .Values.imagePullPolicy }}
    imagePullSecrets:
      - private-registry
 
  {{- if or $authserviceEnabled .Values.tempo.enabled }}
  meshConfig:
    {{- if .Values.tempo.enabled }}
    accessLogFormat: |
      [%START_TIME%] "%REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%" %RESPONSE_CODE% %RESPONSE_FLAGS% %RESPONSE_CODE_DETAILS% %CONNECTION_TERMINATION_DETAILS% "%UPSTREAM_TRANSPORT_FAILURE_REASON%" %BYTES_RECEIVED% %BYTES_SENT% %DURATION% %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% "%REQ(X-FORWARDED-FOR)%" "%REQ(USER-AGENT)%" "%REQ(X-REQUEST-ID)%" "%REQ(:AUTHORITY)%" "%UPSTREAM_HOST%" %UPSTREAM_CLUSTER% %UPSTREAM_LOCAL_ADDRESS% %DOWNSTREAM_LOCAL_ADDRESS% %DOWNSTREAM_REMOTE_ADDRESS% %REQUESTED_SERVER_NAME% %ROUTE_NAME% traceID=%REQ(x-b3-traceid)%
    enableTracing: true
    defaultConfig:
      tracing:
        sampling: 10
        zipkin:
          address: tempo-tempo.tempo.svc:9411
    {{- end }}
    {{- if $authserviceEnabled }}
    extensionProviders:
      - name: "authservice"
        envoyExtAuthzGrpc:
          service: "authservice.authservice.svc.cluster.local"
          port: "10003"
    {{- end }}
  {{- end }}
{{ if and $authserviceEnabled .Values.sso.certificateAuthority.cert }}
  jwksResolverExtraRootCA: {{ .Values.sso.certificateAuthority.cert  | quote }}
{{- end }}
{{- end }}

