{{- $fluxSettingsVault := merge .Values.addons.vault.flux .Values.flux -}}

{{- if .Values.addons.vault.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/component: "security-tools"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/vault/values.yaml") . | sha256sum }}
spec:
  targetNamespace: vault
  chart:
    spec:
      {{- if eq .Values.addons.vault.sourceType "git" }}
      chart: {{ .Values.addons.vault.git.path }}
      sourceRef:
        kind: GitRepository
        name: vault
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.addons.vault.helmRepo.chartName }}
      version: {{ .Values.addons.vault.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.addons.vault.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- $repoType := include "getRepoType" (dict "repoName" .Values.addons.vault.helmRepo.repoName "allRepos" $.Values.helmRepositories) -}}
      {{- if (and .Values.addons.vault.helmRepo.cosignVerify (eq $repoType "oci")) }} # Needs to be an OCI repo
      verify:
        provider: cosign
        secretRef:
          name: {{ printf "%s-cosign-pub" .Values.addons.vault.helmRepo.repoName }}
      {{- end }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettingsVault | nindent 2 }}
  
  {{- if .Values.addons.vault.postRenderers }}
  postRenderers:
  {{ toYaml .Values.addons.vault.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "overlays"

  # TODO: DRY this up
  {{- if or .Values.istio.enabled (dig "values" "minio" "enabled" false .Values.addons.vault ) }}
  dependsOn:
    {{- if .Values.istio.enabled }}
    - name: istio
      namespace: {{ .Release.Namespace }}
    {{- end }}

    {{- if (dig "values" "minio" "enabled" false .Values.addons.vault) }}
    - name: minio-operator
      namespace: {{ $.Release.Namespace }}      
    {{- end }}
  {{- end }}
{{- end }}
