<<<<<<< HEAD
{{- if .Values.addons.vault.enabled }}
=======
{{- if .Values.twistlock.enabled }}
>>>>>>> eb61ff0b (add vault deployment)
apiVersion: v1
kind: Namespace
metadata:
  name: vault
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/component: "sandbox"
    {{- include "commonLabels" . | nindent 4}}
    istio-injection: enabled
{{- end }}