{{- $fluxSettingsVault := merge .Values.vault.flux .Values.flux -}}
{{- if .Values.vault.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vault
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/component: "sandbox"
    {{- include "commonLabels" . | nindent 4}}
spec:
  targetNamespace: vault
  chart:
    spec:
      chart: {{ .Values.vault.git.path }}
      interval: 5m
      sourceRef:
        kind: GitRepository
        name: vault
        namespace: {{ .Release.Namespace }}

  {{- toYaml $fluxSettingsVault | nindent 2 }}
  
  {{- if .Values.vault.postRenderers }}
  postRenderers:
  {{ toYaml .Values.vault.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-vault-values
      kind: Secret
      valuesKey: "overlays"

  # TODO: DRY this up
  {{- if or .Values.gatekeeper.enabled .Values.istio.enabled }}
  dependsOn:
    {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.istio.enabled }}
    - name: istio
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
