{{- if .Values.addons.vault.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.addons.vault "name" "vault" "defaults" (include "bigbang.defaults.vault" .)) }}
{{- end }}

{{- define "bigbang.defaults.vault" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

openshift: {{ .Values.openshift }}

prometheus:
  servicemonitor:
    enabled: {{ .Values.monitoring.enabled }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

upstream:
  global:
    imagePullSecrets:
    - name: private-registry

  injector:
    {{- if $istioEnabled }}
    annotations:
      {{ include "istioAnnotation" . }}
      traffic.sidecar.istio.io/excludeInboundPorts: "8080"
    {{- end }}
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}
    {{- if .Values.kiali.enabled }}
    extraLabels:
      service.istio.io/canonical-name: vault-vault-agent-injector
    {{- end }}

  server:
    {{- if $istioEnabled }}
    annotations:
      {{ include "istioAnnotation" . }}
    {{- end }}
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}
    {{- if .Values.kiali.enabled }}
    extraLabels:
      service.istio.io/canonical-name: vault-vault
    {{- end }}
    {{- if and .Values.addons.vault.ingress.cert .Values.addons.vault.ingress.key }}
    # In this context, we do not use any istio helpers (.vault.ingress.gateway would be "passthrough" in both istio versions)
    {{- if eq .Values.addons.vault.ingress.gateway "passthrough" }}
    volumes:
    - name: tls
      secret:
        secretName: vault-tls
    volumeMounts:
    - name: tls
      mountPath: "/vault/tls"
      readOnly: true
    {{- end }}
    {{- end }}
    # bbtests specific config for allowing auto-unseal and kms access
    {{- if (dig "values" "bbtests" "enabled" false .Values.addons.vault) }}
    ha:
      raft:
        config: |
          ui = true

          listener "tcp" {
            tls_disable = false
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            tls_cert_file = "/vault/tls/tls.crt"
            tls_key_file  = "/vault/tls/tls.key"
            telemetry {
              unauthenticated_metrics_access = true
            }
          }

          storage "raft" {
            path = "/vault/data"

            retry_join {
              leader_api_addr = "https://vault-vault-0.vault-vault-internal:8200"
              leader_client_cert_file = "/vault/tls/tls.crt"
              leader_client_key_file = "/vault/tls/tls.key"
              leader_tls_servername = "vault.dev.bigbang.mil"
            }
          }

          seal "awskms" {
            region     = "us-gov-west-1"
            access_key = "{{ .Values.addons.vault.kms_access_key }}"
            secret_key = "{{ .Values.addons.vault.kms_secret_key }}"
            kms_key_id = "{{ .Values.addons.vault.kms_key_id }}"
            endpoint   = "https://kms.us-gov-west-1.amazonaws.com"
          }

          telemetry {
            prometheus_retention_time = "24h"
            disable_hostname = true
          }
          service_registration "kubernetes" {}
    {{- end }}


  csi:
    image:
      pullPolicy: {{ .Values.imagePullPolicy }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  istioNamespaceSelector:
  {{ include "istioNamespaceSelector" . | nindent 4 }}  
  ingressLabels:
    {{- include "getGatewaySelector" (dict "pkg" .Values.addons.vault "root" .) | nindent 4 }}
  controlPlaneCidr: {{ .Values.networkPolicies.controlPlaneCidr }}
  nodeCidr: {{ .Values.networkPolicies.nodeCidr }}
  vpcCidr: {{ .Values.networkPolicies.vpcCidr }}  

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or (dig "istio" "hardened" "enabled" false .Values.addons.vault.values) (dig "hardened" "enabled" false .Values.istiod.values) }}
  vault:
    gateways:
      - {{ include "getGatewayName" (dict "gateway" .Values.addons.vault.ingress.gateway "root" .)}}
    {{- if and .Values.addons.vault.ingress.cert .Values.addons.vault.ingress.key }}
    tls:
      cert: {{ .Values.addons.vault.ingress.cert | quote }}
      key:  {{ .Values.addons.vault.ingress.key | quote }}
    {{- end }}

{{- if $istioEnabled }}
minio:
  annotations:
    {{ include "istioAnnotation" . }}
{{- end }}        
{{- end -}}
