{{- if .Values.addons.vault.enabled }}
{{- include "values-secret" (dict "root" $ "package" .Values.addons.vault "name" "vault" "defaults" (include "bigbang.defaults.vault" .)) }}
{{- end }}

{{- define "bigbang.defaults.vault" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" -}}
# temporary shim name for vault ingressgateway name while we migrate to operatorless gateway
{{- $gatewayResourceName := ternary (printf "%s-ingressgateway" .Values.addons.vault.ingress.gateway) .Values.addons.vault.ingress.gateway .Values.istioGateway.enabled }}
# hostname is deprecated and replaced with domain. But if hostname exists then use it.
{{- $domainName := default .Values.domain .Values.hostname }}
domain: {{ $domainName }}

openshift: {{ .Values.openshift }}

prometheus:
  servicemonitor:
    enabled: {{ .Values.monitoring.enabled }}

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

global:
  imagePullSecrets:
  - name: private-registry

injector:
  {{- if $istioEnabled }}
  annotations:
    {{ include "istioAnnotation" . }}
  {{- end }}
  image:
    pullPolicy: {{ .Values.imagePullPolicy }}

server:
  {{- if $istioEnabled }}
  annotations:
    {{ include "istioAnnotation" . }}
  {{- end }}
  image:
    pullPolicy: {{ .Values.imagePullPolicy }}
  {{- if and .Values.addons.vault.ingress.cert .Values.addons.vault.ingress.key }}
  {{- if eq $gatewayResourceName (include "istioPassthroughGateway" . ) }}
  volumes:
  - name: tls
    secret:
      secretName: vault-tls
  volumeMounts:
  - name: tls
    mountPath: "/vault/tls"
    readOnly: true
  {{- end }}
  {{- end }}

csi:
  image:
    pullPolicy: {{ .Values.imagePullPolicy }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  istioNamespaceSelector:
  {{ include "istioNamespaceSelector" . | nindent 4 }}  
  ingressLabels:
    {{- $gateway := default "public" .Values.addons.vault.ingress.gateway }}
    {{- $default := dict "app" (dig "gateways" $gateway "ingressGateway" nil .Values.istio) "istio" nil }}
    {{- toYaml (dig "values" "gateways" $gateway "selector" $default .Values.istio) | nindent 4 }}
  controlPlaneCidr: {{ .Values.networkPolicies.controlPlaneCidr }}
  nodeCidr: {{ .Values.networkPolicies.nodeCidr }}
  vpcCidr: {{ .Values.networkPolicies.vpcCidr }}  

istio:
  enabled: {{ $istioEnabled }}
  hardened:
    enabled: {{ or
      (dig "istio" "hardened" "enabled" false .Values.addons.vault.values)
      (dig "hardened" "enabled" false .Values.istio.values)
    }}
  vault:
    gateways:
      - {{ include "istioGatewayNamespace" . }}/{{ default (include "istioPublicGateway" . ) $gatewayResourceName }}
    {{- if and .Values.addons.vault.ingress.cert .Values.addons.vault.ingress.key }}
    tls:
      cert: {{ .Values.addons.vault.ingress.cert | quote }}
      key:  {{ .Values.addons.vault.ingress.key | quote }}
    {{- end }}

{{- if $istioEnabled }}
minio:
  annotations:
    {{ include "istioAnnotation" . }}
{{- end }}        
{{- end -}}
