{{- $fluxSettingsGrafana := merge .Values.grafana.flux .Values.flux -}}
{{- if .Values.grafana.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/grafana/values.yaml") . | sha256sum }}
spec:
  targetNamespace: monitoring
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "grafana" "package" .Values.grafana "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsGrafana | nindent 2 }}

  {{- if or .Values.grafana.postRenderers .Values.monitoring.enabled }}
  postRenderers:
  {{- if .Values.monitoring.enabled }}
  {{ include "grafana.serviceMonitorPostRenderers" . | nindent 2 }}
  {{- end }}
  {{- with .Values.grafana.postRenderers }}
  {{ toYaml . | nindent 2 }}
  {{- end }}
  {{- end }}

  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "grafana" "root" .) | nindent 2 }}

  {{- if or .Values.gatekeeper.enabled $istioEnabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}

