{{- $fluxSettingsEckOperator := merge .Values.eckOperator.flux .Values.flux -}}
{{- if or .Values.eckOperator.enabled .Values.elasticsearchKibana.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: eck-operator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: eck-operator
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/eck-operator/values.yaml") . | sha256sum }}
spec:
  targetNamespace: eck-operator
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "eck-operator" "package" .Values.eckOperator "root" .) | nindent 2 }}

  {{- toYaml $fluxSettingsEckOperator | nindent 2 }}

  {{- if .Values.eckOperator.postRenderers }}
  postRenderers:
  {{ toYaml .Values.eckOperator.postRenderers | nindent 4 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "eck-operator" "root" .) | nindent 2 }}

  {{- if or .Values.gatekeeper.enabled $istioEnabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
    {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
