{{- $fluxSettingsEckOperator := merge .Values.eckOperator.flux .Values.flux -}}
{{- if or .Values.eckOperator.enabled .Values.elasticsearchKibana.enabled }}
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: eck-operator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: eck-operator
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
spec:
  targetNamespace: eck-operator
  chart:
    spec:
      {{- if eq .Values.eckOperator.sourceType "git" }}
      chart: {{ .Values.eckOperator.git.path }}
      sourceRef:
        kind: GitRepository
        name: eck-operator
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ .Values.eckOperator.helmRepo.chartName }}
      version: {{ .Values.eckOperator.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ .Values.eckOperator.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettingsEckOperator | nindent 2 }}

  {{- if .Values.eckOperator.postRenderers }}
  postRenderers:
  {{ toYaml .Values.eckOperator.postRenderers | nindent 4 }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-eck-operator-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-eck-operator-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-eck-operator-values
      kind: Secret
      valuesKey: "overlays"

  {{- if or .Values.gatekeeper.enabled .Values.istio.enabled .Values.kyvernoPolicies.enabled }}
  dependsOn:
    {{- if .Values.gatekeeper.enabled }}
    - name: gatekeeper
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.istio.enabled }}
    - name: istio
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
