{{- if or .Values.eckOperator.enabled .Values.elasticsearchKibana.enabled }}
apiVersion: v1
kind: Namespace
metadata:
  name: eck-operator
  labels:
    app.kubernetes.io/name: eck-operator
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
    istio-injection: {{ ternary "enabled" "disabled" (and .Values.istio.enabled (eq (dig "istio" "injection" "enabled" .Values.eckOperator) "enabled")) }}
{{- end }}
