{{- if or .Values.eckOperator.enabled .Values.elasticsearchKibana.enabled }}

  {{- /* Create a cleaned copy of the config and merge deprecated paths into current paths */ -}}
  {{- $eckOperatorPackage := deepCopy .Values.eckOperator -}}
  {{- if .Values.eckOperator.values -}}
    {{- $cleanedValues := include "mergeLegacyIstioHardenedKeys" (dict "values" .Values.eckOperator.values) | fromYaml -}}
    {{- $eckOperatorPackage = set $eckOperatorPackage "values" $cleanedValues -}}
  {{- end }}

{{- include "values-secret" (dict "root" $ "package" $eckOperatorPackage "name" "eck-operator" "defaults" (include "bigbang.defaults.eck-operator" .)) }}
{{- end }}

{{- define "bigbang.defaults.eck-operator" -}}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
{{- $istioHardenedEnabled := or (dig "istio" "hardened" "enabled" false .Values.eckOperator.values) (dig "hardened" "enabled" false .Values.istiod.values) }}
license:
  trial: {{ .Values.elasticsearchKibana.license.trial }}
  keyJSON: |
    {{ .Values.elasticsearchKibana.license.keyJSON | nindent 4 }}

image:
  pullPolicy: {{ .Values.imagePullPolicy }}

{{- if $istioEnabled }}
podAnnotations:
  traffic.sidecar.istio.io/includeInboundPorts: "*"
  traffic.sidecar.istio.io/excludeInboundPorts: "9443"
  {{ include "istioAnnotation" . }}
{{- end }}

openshift: {{ .Values.openshift }}

istio:
  enabled: {{ $istioEnabled }}

  sidecar:
    enabled: {{ $istioHardenedEnabled }}

  authorizationPolicies:
    enabled: {{ $istioHardenedEnabled }}
    generateFromNetpol: true

monitoring:
  enabled: {{ .Values.monitoring.enabled }}

serviceMonitor:
  enabled: {{ $.Values.monitoring.enabled }}
  {{- if and $istioEnabled (eq (dig "istio" "mtls" "mode" "STRICT" $.Values.eckOperator.values) "STRICT") }}
  tlsConfig:
    caFile: /etc/prom-certs/root-cert.pem
    certFile: /etc/prom-certs/cert-chain.pem
    keyFile: /etc/prom-certs/key.pem
    insecureSkipVerify: true  # Prometheus does not support Istio security naming, thus skip verifying target pod certificate
  {{- end }}

networkPolicies:
  enabled: {{ .Values.networkPolicies.enabled }}
  # note: ztunnel does not exist yet, defaulting to false until ambient package is added
  hbonePortInjection:
    enabled: {{ dig "enabled" false (default dict .Values.ztunnel) }}
  ingress:
    to:
      elastic-operator:8080:
        from:
          k8s:
            monitoring/prometheus: {{ .Values.monitoring.enabled }}
  egress:
    definitions:
      kubeAPI:
        to:
          - ipBlock:
              cidr: {{ .Values.networkPolicies.controlPlaneCidr }}

    from:
      elastic-operator:
        to:
          k8s:
            tempo/tempo:9411: {{ .Values.tempo.enabled }}
upstream:
  imagePullSecrets:
    - name: private-registry
{{- end -}}
