# yaml-language-server: $schema=https://raw.githubusercontent.com/helm-unittest/helm-unittest/main/schema/helm-testsuite.json
suite: Package - Backstage - Values Tests
templates:
  - templates/backstage/values.yaml
set:
  addons.backstage.enabled: true
postRenderer:
  cmd: "sh"
  args:
    - "-c"
    - "yq eval '.stringData.defaults' - | yq eval '.'"
tests:
  - it: should default backstage route host to backstage.domain
    asserts:
      - equal:
          path: routes.inbound.backstage.hosts[0]
          value: "backstage.dev.bigbang.mil"
