{{- $nexusOldValues := default dict .Values.addons.nexus -}}
{{- $nexusValues := mergeOverwrite $nexusOldValues (index .Values.addons "nxrm-ha") -}}
{{- $fluxSettingsNexus := merge $nexusValues.flux .Values.flux -}}
{{- if $nexusValues.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nxrm-ha
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: "nxrm-ha"
    app.kubernetes.io/component: "developer-tools"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/nxrm-ha/values.yaml") . | sha256sum }}
spec:
  targetNamespace: nxrm-ha
  releaseName: nxrm-ha
  chart:
    spec:
      {{- if (eq $nexusValues.sourceType "git") }}
      chart: {{ $nexusValues.git.path }}
      sourceRef:
        kind: GitRepository
        name: nxrm-ha
        namespace: {{ .Release.Namespace }}
      {{- else }}
      chart: {{ $nexusValues.helmRepo.chartName }}
      version: {{ $nexusValues.helmRepo.tag }}
      sourceRef:
        kind: HelmRepository
        name: {{ $nexusValues.helmRepo.repoName }}
        namespace: {{ .Release.Namespace }}
      {{- $repoType := include "getRepoType" (dict "repoName" .Values.neuvector.helmRepo.repoName "allRepos" $.Values.helmRepositories) -}}
      {{- if (and .Values.neuvector.helmRepo.cosignVerify (eq $repoType "oci")) }} # Needs to be an OCI repo
      verify:
        provider: cosign
        secretRef:
          name: {{ printf "%s-cosign-pub" .Values.neuvector.helmRepo.repoName }}
      {{- end }}
      {{- end }}
      interval: 5m

  {{- toYaml $fluxSettingsNexus | nindent 2 }}

  {{- if or $nexusValues.postRenderers .Values.monitoring.enabled }}
  postRenderers:
  {{- if .Values.monitoring.enabled }}
  {{ include "nxrm-ha.prometheusPostRenderers" . | nindent 2 }}
  {{- end }}
  {{- with $nexusValues.postRenderers }}
  {{ toYaml . | nindent 2 }}
  {{- end }}
  {{- end }}
  valuesFrom:
    - name: {{ .Release.Name }}-nxrm-ha-values
      kind: Secret
      valuesKey: "common"
    - name: {{ .Release.Name }}-nxrm-ha-values
      kind: Secret
      valuesKey: "defaults"
    - name: {{ .Release.Name }}-nxrm-ha-values
      kind: Secret
      valuesKey: "overlays"

  {{ if or $istioEnabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
    {{- end }}
    {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
    {{- end }}
  {{- end }}
{{- end }}
