{{- $fluxSettings := merge .Values.addons.externalSecrets.flux .Values.flux -}}
{{- if .Values.addons.externalSecrets.enabled }}
{{- $istioEnabled := eq (include "istioEnabled" .) "true" }}
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: external-secrets
    app.kubernetes.io/component: "core"
    {{- include "commonLabels" . | nindent 4}}
  annotations:
    checksum/bigbang-values: {{ include (print $.Template.BasePath "/external-secrets/values.yaml") . | sha256sum }}
spec:
  targetNamespace: external-secrets
  {{- include "bigbang.helmRelease.chartSpec" (dict "name" "external-secrets" "package" .Values.addons.externalSecrets "root" .) | nindent 2 }}

  {{- toYaml $fluxSettings | nindent 2 }}

  {{- if .Values.addons.externalSecrets.postRenderers }}
  postRenderers:
  {{- toYaml .Values.addons.externalSecrets.postRenderers | nindent 2 }}
  {{- end }}
  {{- include "bigbang.helmRelease.valuesFrom" (dict "name" "external-secrets" "root" .) | nindent 2 }}

  {{- if or $istioEnabled .Values.kyvernoPolicies.enabled .Values.monitoring.enabled }}
  dependsOn:
  {{- if $istioEnabled }}
    - name: {{ include "istioHelmRelease" . }}
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.kyvernoPolicies.enabled }}
    - name: kyverno-policies
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- if .Values.monitoring.enabled }}
    - name: monitoring
      namespace: {{ .Release.Namespace }}
  {{- end }}
  {{- end }}
{{- end }}
