{{- if and (eq .Values.istioCRDs.sourceType "git") (not .Values.offline) .Values.istioCRDs.enabled }}
{{- include "bigbang.gitRepository" (dict "name" "istio-crds" "gitCredsName" "istioCRDs" "git" .Values.istioCRDs.git "component" "core" "root" .) }}
{{- end }}
